body{font-family: Arial, Helvetica, sans-serif;
max-width:800px;
margin:0 auto;
padding:20px;
}
header{
    text-align: center;
    background:#f4f4f4;
    padding:20px;
    border-radius:10px;
}
section{
    background:white;
    padding: 20px;
    margin-bottom:20px;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(0,0,0,0,1);

}
header, section {
    margin-bottom:20px;
}
h1,h2{
    margin-bottom: 10px;
}


